*{
    margin: 0px ;
    padding: 0%;
    box-sizing: border-box;
}
 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.font-open-sans{
    font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  

.menu img{
     /* font-size: 1.25rem; */
     box-shadow: 0px 4px 4px 0 black;
     color: white;
      max-width: 24px; 
     
}
 header{
     background-color:white;
    background-repeat: no-repeat;
    padding-top: 50px;
    background-position: 87px 120px , bottom right;
 }
 nav{
    width: 73%;
    max-width: 1200px;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    display: flex;

 }
 .logo h2{
    font-size: 1.4rem ;
    font-weight: 600px ;
   
 }
 nav .menu{
    display: flex;
    align-items: center;
    gap: 34px;
    list-style-type: none; 
    /* text-decoration: none; */
 }
 #banner{
    border: 1px solid red;
    margin: 145px 133px 0px 120px;
    align-items: center;
 }